.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.input{
    outline: none;
    appearance: none;
    border: none;
    padding: 1rem;
    text-align: center;
    border-radius: 9px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.425);
    width: 30%;
}

@media only screen and (max-width:569px) {
.input{
    width: 45%;
} 
}