.contenedor{
    margin-top: 1rem ;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
}
.tarjeta{
    text-align: center;
    padding: 1rem;
    width: 60%;
    border-radius: 9px;
    background-color: white;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.459);
}
@media only screen and (max-width:367px) {
   .tarjeta{
       width: 75%;
   } 
}
.lista{
    list-style: none;
}
.lista li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.si{
    display: block;
    width: 12px;
    height: 12px;
    background-color: #87de72;
    border-radius: 2px;
}
.no{
    display: block;
    width: 12px;
    height: 12px;
    background-color: #ed5a5a;
    border-radius: 2px;
}